@media (max-width: 480px) {

    /*        Header        */
    
    .header__text h1 {
        font-size: 36px;
    }

    header .header__text p {
        font-size: 18px;
        line-height: 30px;
        padding-top: 12px;
    }

    .member .buttons,
    .buttons .btn-log,
    .buttons .btn-reg {
        grid-template-columns: auto;
    }

    .btn-log .btn-log__triangle,
    .btn-reg .btn-reg__triangle {
        display: none;  
    }

    .member .buttons a {
        height: 50px;
        font-size: 14px;
    }
    
    /*         Main         */
    /*    section domain    */
    
    main .domain {
        height: 630px;   
    }

    .domain h2 {
        font-size: 15px;
        line-height: 2;
    }

    .domain .domain__text p {
        font-size: 13px;
        padding-top: 18px;
    }

    .domain__text .domain__search {
        height: 46px;
    }

    .domain__search .form-domain {
        height: 28px;
        font-size: 14px;
        grid-template-columns: 50px auto 70px;
    }

    .domain__search .form-domain input {
        height: 28px;
    }

    .domain__search .form-domain input[type="text"]::-webkit-input-placeholder {
        font-size: 14px;   
    }
    
    .domain__search .form-domain input[type="text"]:-moz-input-placeholder {
        font-size: 14px;   
    }

    form .form-col:last-child {
        border-left: 1px solid #cbcbcb;
        padding-left: 5px;
    }

    form .styled-select {
        width: 45px;
        height: 28px; 
    }

    .domain .domain-prices {
        width: 260px;
        height: 280px;   
        justify-content: center;
    }

    .domain .price-table {
        font-size: 12px;
        width: 260px;
        height: 280px;
        grid-template-columns: 1fr 1fr;
    }
    
    .domain .price-table ul:nth-child(1) {
        border-right: 1px solid #d9d9d9; 
    }

    .domain .price-table ul:nth-child(2) {
        display: none;
    }

    /*   section packages   */

    main .packages {
        height: 2550px;
    }

    main .packages__bg {
        height: 383px;
    }

    main .packages .img-overlay {
        height: 383px;
    }

    main .package {
        width: 255px; 
        margin-top: 60px;
    }

    main .packages .container {
        grid-template-columns: 100%;
    }

    .package .package-container {
        margin: 20px 0 0 27px;
    }
}
