@import "..//css/fonts.css";
@import "..//css/style_1197.css";
@import "..//css/style_980.css";
@import "..//css/style_768.css";
@import "..//css/style_480.css";

* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    font-family: Lato-Medium, sans-serif;
    text-decoration: none;
    color: #fff;
    line-height: 1;
}

body {
    background: #fff;
    font-family: Lato-Regular, sans-serif;
}

button:focus {
    outline: transparent;
}

.clearfix:after {
    content: "";
    display: table;
    width: 100%;
    clear: both;
}

/*          Wrapper          */

.wrapper {
    height: 100vh;
    display: grid;
    grid-template: auto auto 15% / 100%;
    grid-template-areas: 
        "header"
        "main"
        "footer";
}

.field {
    display: grid;
}

.field-header {
    grid-area: header;
}

.field-main {
    grid-area: main;
}

.field-footer {
    grid-area: footer;
}

.container {
    max-width: 1197px;
    margin: 0 auto;
}

/*          Header           */

header {
    height: 1067px;
}

.header__bg {
    background: url(..//img/header-bg.jpg) no-repeat center;
    background-size: cover;
    height: 945px;
}

.img-overlay {
    background: rgba(0, 0, 0, 0.83);
    height: 945px;
}

.heading {
    display: grid;
    grid-template-columns: auto 640px;
}

.header__stick {
    padding-top: 30px;
    border-bottom: 1px solid rgb(255, 255, 255, 0.15);
}

nav {
    padding-top: 10px;
}

nav ul {
    display: grid;
    grid-template-columns: repeat(6, 1fr); 
    grid-gap: 0 70px;
}


nav ul li {
    font-size: 16px;
    display: grid;
    justify-content: end;
    padding-bottom: 39px;
}

nav ul li:hover {
    border-bottom: 1px solid #fff;
    cursor: pointer;
    transition: .5s;
}

nav ul li:first-child {
    border-bottom: 1px solid #fff;
}

.header__tab-menu {
    display: none;
}

.header__text {
    color: #fff;
    text-align: center;
    margin-top: 336px;
}

h1 {
    font-family: Myriad-Pro, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 72px;
    line-height: 1;  
}

.header__text p {
    font-size: 32px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    line-height: 47px;
    padding-top: 20px;
}

.member {
    height: 121px;
}

.buttons {
    display: grid;
    grid-template-columns: 50% 50%;
    overflow-x: hidden;
}

.btn-log {
    display: grid;
    grid-template-columns: 100% auto;
}

.btn-log__bg {
    height: 121px;
    background: #21424a;
    display: grid;
    align-items: center;
}

.btn-log__triangle {
    content: '';
    width: 0;
    height: 0;
    border-left: 27px solid #21424a;
    border-top: 0 solid transparent;
    border-bottom: 121px solid transparent;
}

.btn-reg {
    display: grid;
    grid-template-columns: auto 100%;
}

.btn-reg__bg {
    height: 121px;
    background: #2fac6c;
    display: grid;
    align-items: center;
}

.btn-reg__triangle {
    content: '';
    width: 0;
    height: 0;
    border-right: 27px solid #2fac6c;
    border-bottom: 0 solid transparent;
    border-top: 121px solid transparent;
}

.buttons a {
    height: 121px;
    font-family: Lato-Regular, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 22px;
    color: #fff;
    background: transparent;
    border: transparent;
    cursor: pointer;
    display: grid;
    align-content: center;
}

.btn-log__bg a {
    grid-template-columns: 50%; 
    justify-content: end;
}

.btn-reg__bg a {
    grid-template-columns: 60%; 
    justify-content: end;
}

.btn-log a:hover {
    color: #2fac6c;
}

.btn-reg a:hover {
    color: #21424a;
}

/*           Main            */
/*      section domain       */

.domain {
    height: 578px;
    max-width: 889px;
    margin: 0 auto;
}

.domain__text {
    padding-top: 88px;
    text-align: center;
}

h2 {
    font-family: Lato-Heavy, sans-serif;
    font-size: 24px;
    line-height: 1;
}

.domain__text p {
    font-family: Lato-Regular, sans-serif;
    font-size: 16px;
    line-height: 1;
    color: #a2a2a2;
    letter-spacing: 0.8px;
    margin-bottom: 8px;
    padding-top: 32px;
}

.domain__search {
    height: 50px;
    border: 1px solid #d9d9d9;
    margin: 41px 0;
}

.form-domain {
    height: 32px;
    margin: 9px 0;
    font-size: 15px;
    color: #cbcbcb;
    display: grid;
    grid-template-columns: 72px auto 86px;
    align-content: center;
}

.form-col:first-child {
    border-right: 1px solid #cbcbcb;
    display: grid;
    align-content: center;
}

.form-domain input[type="text"]::-webkit-input-placeholder {
    font-size: 15px;
    font-weight: 400;
    color: #868686;
}

.form-domain input[type="text"]:-moz-input-placeholder {
    font-size: 15px;
    font-weight: 400;
    color: #868686;
}

.form-domain input {
    height: 32px;
    padding-left: 16px;
    border: transparent;
    display: grid;
    justify-content: start;
    width: 97%;
}

.form-col:last-child {
    border-left: 1px solid #cbcbcb;
    padding-left: 10px;
}

form select {
    height: 32px;
    font-size: 15px;
    color: #cbcbcb;
    background: transparent;
    border: transparent;
    -moz-appearance: none;
    -webkit-appearance: none;  
}

.styled-select {
    width: 50px;
    height: 32px;
    background: url(..//img/icons/domain/angle-down.png) no-repeat right; 
    padding-right: 10px;
}

form input:focus,
select:focus {
    outline: transparent;
}

select:hover {
    cursor: pointer;
}

.domain-prices {
    max-width: 889px;
    height: 193px;
    border: 1px solid #d9d9d9;
    margin: 40px 0;
    display: grid;
    align-content: center;
}

.price-table {
    height: 160px;
    font-family: Lato-Regular, sans-serif;
    color: #cbcbcb;
    font-size: 14px;
    line-height: 1;
    display: grid;
    grid-template-rows: 1fr 13px 1fr;
}

.price-table ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);  
}

.price-table ul li {
    display: grid;
    justify-items: center;
    align-items: center;
    border-left: 1px solid #d9d9d9;  
}

.price-table ul li:first-child {
    border-left: 1px solid transparent;
}

.price-table ul:nth-child(2) li {
    border-left: 1px solid transparent;  
}

.table-stick {
    padding: 0 32px;
    align-content: center;
    grid-gap: 13px;   
}

.table-stick li {
    width: 208px;
    height: 1px;
    background: #d9d9d9;  
}

.table-stick li:first-child,
.table-stick li:last-child {
    width: 184px;
}
