@media (max-width: 1197px) {

    /*        Header        */

    .wrapper header {
        height: 850px;
    }

    header .header__bg {
        height: 850px;
    }

    header .img-overlay {
        height: 850px;
    }

    header .heading {
        padding-right: 20px;
        display: grid;
        grid-template-columns: auto 640px; 
    }

    header .header__text {
        margin-top: 302px;
    }
    
    header.member {
        height: auto;
    }
    
    .member .buttons a {
        height: 109px;  
        justify-content: center;
    }

    .btn-log .btn-log__bg, 
    .btn-reg .btn-reg__bg {
        height: 109px;  
    }
    
    .btn-log .btn-log__bg a,
    .btn-reg .btn-reg__bg a {
        grid-template-columns: auto; 
    }

    .btn-log .btn-log__triangle {
        border-bottom: 109px solid transparent; 
    }
        
    .btn-reg .btn-reg__triangle {
        border-top: 109px solid transparent;    
    }

    /*         Main         */
    /*    section domain    */

    .domain .domain__text {
        padding-top: 180px;
    }
}
